@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-white font-sans text-slate-800;
  }

  ::selection {
    @apply bg-primary-500 text-white;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

@layer components {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
